Package: com.nova.originalBlack
Name: Nova
Version: 1.0.0
Architecture: iphoneos-arm
Description: This is Nova, a theme based on Lotus Dark
Depiction: https://hunt3r1206.github.io/repo/depictions/?p=com.nova.originalBlack
Homepage: https://hunt3r1206.github.io/repo
Maintainer: Hunt3r1206 <thahunter1206@gmail.com>
Author: Hunt3r1206 <thahunter1206@gmail.com>
Section: Themes
